<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment1">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_todo_logo"
        android:label="To-Do List"
        android:roundIcon="@mipmap/ic_todo_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Urgent"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Important"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".General"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".KIV"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".UpdateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".AddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>

    </application>

</manifest>